        <div class="row">
            <div class="panel panel-default container">
                <div class="panel-body container">
                    <div class="row pad-tp-md pad-bttm-md">
                        <div class="col-md-12 col-xs-12 " style="margin-top: 15px;" id="left-box">
                            <div class="col-xs-12"  style="text-align:center">
                                <a routerLink="profilesetting" class="btn btn-link" routerLinkActive="active-link" 
                                routerLinkActiveOptions="{exact:true}">Profile Setting</a>
                                <a routerLink="changepassword" class="btn btn-link" routerLinkActive="active-link" 
                                routerLinkActiveOptions="{exact:true}">Change Password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>