<form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">


    <div class="row" style="margin-top: 45px;">
        <div class="col-md-2"></div>
        <div class="panel panel-default container">
            <div class="row">
                <div class="panel panel-default container" style="border:1px solid #cecece;">
                    <div class="panel-body container text-center" style="margin-top: 10px; margin-bottom: 10px;">
                        Forgot Password
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default container">
        <div class="row">
            <div class="panel panel-default container" style="border:1px solid #cecece;">
                <div class="panel-body container">
                    <div class="row pad-tp-md pad-bttm-md">
                        <!-- Left side -->
                        <div class="col-md-12 col-xs-12 " style="margin-top: 15px;" id="left-box">
                            <div class="col-xs-12">

                                <div class="form-group row">
                                    <label for="email">
                                        Email Address :
                                    </label>
                                    <div class="col-md-9 col-xs-9 " style="float: right;">
                                        <input name="email" id="email" autofocus="autofocus" type="text"
                                            formControlName="email" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" maxlength="25"
                                            placeholder="Email Address" value="" autocomplete="off">
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.email.required">Email Address is required</div>
                                            <div *ngIf="f.password.email.minlength">Email Address must be at least 6
                                                characters</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="dob">
                                        Date of Birth :
                                    </label>
                                    <div class="col-md-9 col-xs-9 input-group" style="float: right;">
                                        <input name="dob" id="dob" autofocus="autofocus" type="text"  #dp="bsDatepicker" bsDatepicker 
                                                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                            formControlName="dob" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" maxlength="20"
                                            placeholder="DD/MM/YYYY" value="" autocomplete="off">
											 <div class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</div>
                                        <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                            <div *ngIf="f.dob.errors.required">Date of Birth is required
                                            </div>

                                        </div>
								<!--	<div class="custom-content" *ngIf="dp.isOpen">
											<a >{{dob | date:'short'}}</a>
										</div>  -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>

        </div>


        <div class="panel panel-default container ">
            <button [disabled]="loading" class="btn btn-primary" style="margin-top: 5px; margin-bottom: 5px;" type="
                    button">
				<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
				SAVE
			</button>
        </div>

    </div>


</form>